.search-bar{
    padding:0.2rem;
    width:15rem;
}
.submit{
    padding:0.15rem;
    height:1.5rem;
    width:2rem;
    background-color: lightgray;
    color:black;
    border:none;
    cursor:pointer;
    font-size:0.9rem;
    font-weight:600;
    border-radius:0.1rem;
}