*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding-bottom: 1rem;
}

body{
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden ;
}

header{
    background-color: #EB825A;
    padding: 10px 0;
    p{
        font-size: 2rem;
        font-weight: bold;
        padding-left: 4rem;
        color: white;
    }
}


nav{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    ul{
        display: flex;
        gap: 1.5rem;
        list-style: none;
        padding: 1rem 4rem;
        li{
            a{
                color: white;
                text-decoration: none;
                font-size: 1.5rem;
                display: block;
                height: 100%;
                &:hover{
                    background-color: gray;
                    font-weight: bold;
                }


            }
        }

    }
}

.one{
    position: relative;
    img{
        width: 100%;
        height: 20rem;
        object-fit: cover;

    }
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
}


.two{
    display: flex;
    flex-direction: row;
    gap: 2rem; 
    width: 83.33%;
    margin: auto;
    justify-content: space-between;

}

.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.4rem;
    }
 .heading{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

 .aside-text{
    background-color: black;
    color: white;
    margin-top: 2rem;
    
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: 2rem;

    p{
        font-size: 1.2rem;

    }
}
@media screen and (max-width: 786px){
    nav ul{
        padding: 1rem 2rem;
    }
    .two{
        display: flex;
        flex-direction: column;
    }
    .left{
        padding-left: 2rem;
    }
    aside .aside-text{
        margin-right: 2rem;
    }

    footer{
        width: 95%;
        margin: auto;
        margin-top: 2rem;
    }
}