.Header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2A2A72;
    padding: 0.6rem;
    color:white
}

.combination{
    display:flex;
    flex-direction: row;
    gap:3rem;

}